:root {
    --font-size: 75px;
    --yellow: #eec718;
    --background: #09489b;
    --background-hover: #0f67db;
    --green-tea: #b8e735;
    --status-dot: 4px;
    --infinity: #886ce4;
}

html {
    -webkit-app-region: drag;
}

body {
    width: 600px;
    height: 115px;
    margin: 0;
    background: var(--background);
    border: 10px solid var(--yellow);
    padding: 10px;
}

header img,
header span,
.infinity,
.status img,
main button {
    -webkit-app-region: no-drag;
}

header img,
.status img,
main span,
main img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

header img {
    height: 21px;
    width: 21px;
    margin-right: 2px;
}

header span:hover, header img:hover {
    cursor: pointer;
    background-color: var(--background-hover);
}

main,
main > div.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status, .status > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    margin-left: 8px;
    flex-direction: column;
}

.status > div {
    flex-direction: row;
}

.status img {
    width: 25px;
    height: 25px;
    margin: 4px;
}

.working, .resting {
    width: 8px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinity > div, .working > div, .resting > div {
    width: 0;
    height: 0;
    border: var(--status-dot) solid;
    border-radius: 100%;
}

.infinity > div {
    background: var(--infinity);
    border-color: var(--infinity);
}

.working > div {
    background: var(--yellow);
    border-color: var(--yellow);
}

.resting > div {
    background: var(--green-tea);
    border-color: var(--green-tea);
}

.hidden {
    opacity: 0;
}

main > img {
    height: 90px;
    width: 90px;
}

main span {
    font-size: var(--font-size);
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main button {
    width: 100px;
    height: 100px;
    border: none;
    background: none;
}

main button {
    padding: 0;
    margin: 0;
    color: white;
    font-size: var(--font-size);
}

main button:hover {
    background-color: rgb(15, 103, 219);
    border-radius: 5px;
}

main button:focus {
    outline: none;
}

main button img {
    width: 90px;
    height: 90px;
    padding: 5px;
}

.transparent {
    filter: opacity(0.2);
}